@model IEnumerable<ORCA2.Models.Expertise>

@{
    ViewBag.Title = "Index";
}

<h2>Expert List</h2>

<p>
    @using (Html.BeginForm("Index", "Expertises", FormMethod.Get))
    {
        <p>
            Department: @Html.DropDownList("department", "All")
            Field: @Html.TextBox("SearchString") <br />
            <input type="submit" value="Filter" />
        </p>
    }

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Field)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Validated)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if(item.Validated || User.Identity.Name.Equals("admin@orca.com") || User.Identity.Name.Equals(item.LinkedEmail))
        {
            @Html.HiddenFor(modelItem => item.LinkedEmail)
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactEmail)
            </td>
            if (User.Identity.Name.Equals("admin@orca.com") || User.Identity.Name.Equals(item.LinkedEmail))
            {
            <td>
                @Html.DisplayFor(modelItem => item.Validated)
            </td>
            }
            else
            {
                <td>

                </td>
            }
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.ExpertiseID }) |
                @if (User.Identity.Name.Equals(item.LinkedEmail) || User.Identity.Name.Equals("admin@orca.com"))
                {
                @Html.ActionLink("Delete", "Delete", new { id = item.ExpertiseID })
                } |
                @if (!item.Validated && User.Identity.Name.Equals("admin@orca.com"))
                {
                    @Html.ActionLink("Validate", "Edit", new { id = item.ExpertiseID })
                }
            </td>
        }
    </tr>
}

</table>
